<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TsuiMana.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F26734B41CB7B21400C5FF0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F26734CB1CB7B21500C5FF0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F26734D61CB7B21500C5FF0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
